body  {
  background-image: url("../images/hockey3.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

h1  {
  color: #0000ff;
  font-family: 'Bangers', cursive;
}

h2  {
  color: #6666ff;
}
